In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
import pandas_ta as ta

In [2]:
data = yf.download(tickers = "AAPL", start="2023-01-01", end="2023-12-31")
data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,124.048050,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.327515,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,123.998466,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.560867,87754700
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.086517,70790800

In [3]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-12-22,195.179993,195.410004,192.970001,193.600006,193.091385,37122800
2023-12-26,193.610001,193.889999,192.830002,193.050003,192.542816,28919300
2023-12-27,192.490005,193.500000,191.089996,193.149994,192.642548,48087700
2023-12-28,194.139999,194.660004,193.169998,193.580002,193.071426,34049900
2023-12-29,193.899994,194.399994,191.729996,192.529999,192.024185,42628800

In [4]:
len(data)

250

In [11]:
help(ta.rsi)

Help on function rsi in module pandas_ta.momentum.rsi:

rsi(close, length=None, scalar=None, talib=None, drift=None, offset=None, **kwargs)
    Relative Strength Index (RSI)

    The Relative Strength Index is popular momentum oscillator used to measure the
    velocity as well as the magnitude of directional price movements.

    Sources:
        https://www.tradingview.com/wiki/Relative_Strength_Index_(RSI)

    Calculation:
        Default Inputs:
            length=14, scalar=100, drift=1
        ABS = Absolute Value
        RMA = Rolling Moving Average

        diff = close.diff(drift)
        positive = diff if diff > 0 else 0
        negative = diff if diff < 0 else 0

        pos_avg = RMA(positive, length)
        neg_avg = ABS(RMA(negative, length))

        RSI = scalar * pos_avg / (pos_avg + neg_avg)

    Args:
        close (pd.Series): Series of 'close's
        length (int): It's period. Default: 14
        scalar (float): How much to magnify. Default: 100
        talib (bool): If TA Lib is installed and talib is True, Returns the TA Lib
            version. Default: True
        drift (int): The difference period. Default: 1
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.Series: New feature generated.

In [5]:
# # Adding indicators
# data['RSI']=ta.rsi(data.Close, length=15)

# # fast moving average
# data['EMAF']=ta.ema(data.Close, length=20)

# # medium moving average
# data['EMAM']=ta.ema(data.Close, length=100)

# # slow moving average
# data['EMAS']=ta.ema(data.Close, length=150)

In [6]:

# data['Target'] = data['Adj Close']-data.Open
# data['Target'] = data['Target'].shift(-1)

# data['TargetClass'] = [1 if data.Target[i]>0 else 0 for i in range(len(data))]

data['TargetNextClose'] = data['Adj Close'].shift(-1)

# data.dropna(inplace=True)
# data.reset_index(inplace = True)
# data.drop(['Volume', 'Close', 'Date'], axis=1, inplace=True)

In [7]:
data_set = data.iloc[:, 0:11]#.values
pd.set_option('display.max_columns', None)

data_set.head(20)
#print(data_set.shape)
#print(data.shape)
#print(type(data_set))

,Open,High,Low,Close,Adj Close,Volume,TargetNextClose
Date,,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,124.048050,112117500,125.327515
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.327515,89113600,123.998466
2023-01-05,127.129997,127.769997,124.760002,125.019997,123.998466,80962700,128.560867
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.560867,87754700,129.086517
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.086517,70790800,129.661804
2023-01-10,130.259995,131.259995,128.119995,130.729996,129.661804,63896200,132.399261
2023-01-11,131.250000,133.509995,130.460007,133.490005,132.399261,69458900,132.319901
2023-01-12,133.880005,134.259995,131.440002,133.410004,132.319901,71379600,133.658875
2023-01-13,132.029999,134.919998,131.660004,134.759995,133.658875,57809700,134.829239
2023-01-17,134.830002,137.289993,134.130005,135.940002,134.829239,63646600,134.105194
2023-01-18,136.820007,138.610001,135.029999,135.210007,134.105194,69672800,134.164719
2023-01-19,134.080002,136.250000,133.770004,135.270004,134.164719,58280400,136.743454
2023-01-20,135.279999,138.020004,134.220001,137.869995,136.743454,80223600,139.956970
2023-01-23,138.119995,143.320007,137.899994,141.110001,139.956970,81760300,141.365372
2023-01-24,140.309998,143.160004,140.300003,142.529999,141.365372,66435100,140.700851
2023-01-25,140.889999,142.429993,138.809998,141.860001,140.700851,65799300,142.783707
2023-01-26,143.169998,144.250000,141.899994,143.960007,142.783707,54105100,144.737595
2023-01-27,143.160004,147.229996,143.080002,145.929993,144.737595,70555800,141.831543
2023-01-30,144.960007,145.550003,142.850006,143.000000,141.831543,64015300,143.110992
2023-01-31,142.699997,144.339996,142.279999,144.289993,143.110992,65874500,144.241684

In [30]:
data_set.tail()

,Open,High,Low,Close,Adj Close,Volume,TargetNextClose
Date,,,,,,,
2023-12-22,195.179993,195.410004,192.970001,193.600006,193.091385,37122800,192.542816
2023-12-26,193.610001,193.889999,192.830002,193.050003,192.542816,28919300,192.642548
2023-12-27,192.490005,193.500000,191.089996,193.149994,192.642548,48087700,193.071426
2023-12-28,194.139999,194.660004,193.169998,193.580002,193.071426,34049900,192.024185
2023-12-29,193.899994,194.399994,191.729996,192.529999,192.024185,42628800,NaN

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))

In [14]:
data_set_scaled = scaler.fit_transform(data_set)

Reacll that the transform scales the data to the range [0,1] using the formula:
$$scaled~value=\frac{original~value−min}{max−min}$$

In [16]:
data_set_scaled.shape

(250, 7)

In [31]:
data_set_scaled

array([[5.92972714e-02, 4.35629411e-02, 0.00000000e+00, ...,
        6.73769846e-04, 6.75848944e-01, 1.80599140e-02],
       [1.22204864e-02, 1.23870151e-02, 1.24949010e-02, ...,
        1.80599140e-02, 4.99315473e-01, 0.00000000e+00],
       [1.55533271e-02, 0.00000000e+00, 8.10111153e-03, ...,
        0.00000000e+00, 4.36764920e-01, 6.19966748e-02],
       ...,
       [9.23205130e-01, 9.14822613e-01, 9.18852073e-01, ...,
        9.32777488e-01, 1.84479967e-01, 9.38605353e-01],
       [9.46118528e-01, 9.30967410e-01, 9.47411757e-01, ...,
        9.38605353e-01, 7.67529488e-02, 9.24374803e-01],
       [9.42785582e-01, 9.27348624e-01, 9.27639652e-01, ...,
        9.24374803e-01, 1.42588002e-01,            nan]])

In [29]:
data_set_scaled[:249,6].mean()

0.6503738155861523

In [26]:
data_set_scaled[:,5].std()

0.13612514648654317