### This jupyter notebook is to test the yahoo finance

In [1]:
import yfinance as yf

In [2]:
from pandas_datareader import data as pdr

In [4]:
aapl = yf.Ticker("AAPL")

## aapl.history: get historical market data

In [ ]:
# Valid options for "period": 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo, 1y, 2y, 
# 5y, 10y and ytd.

In [10]:
aapl.history(period="1y")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-05-15 00:00:00-04:00,172.245249,172.294988,170.564174,171.161011,37266700,0.00,0.0
2023-05-16 00:00:00-04:00,171.081432,172.225350,170.892433,171.161011,42110300,0.00,0.0
2023-05-17 00:00:00-04:00,170.802922,172.016463,169.519728,171.777740,57951600,0.00,0.0
2023-05-18 00:00:00-04:00,172.086101,174.314273,171.668322,174.125275,65496700,0.00,0.0
2023-05-19 00:00:00-04:00,175.458194,175.458194,174.015856,174.234695,55772400,0.00,0.0
...,...,...,...,...,...,...,...
2024-05-08 00:00:00-04:00,182.602329,182.822032,181.204216,182.492477,45057100,0.00,0.0
2024-05-09 00:00:00-04:00,182.312720,184.409882,181.863333,184.320007,48983000,0.00,0.0
2024-05-10 00:00:00-04:00,184.899994,185.089996,182.130005,183.050003,50759500,0.25,0.0
2024-05-13 00:00:00-04:00,185.440002,187.100006,184.619995,186.279999,72044800,0.00,0.0
2024-05-14 00:00:00-04:00,187.509995,188.300003,186.289993,187.429993,52332100,0.00,0.0

## Multiple tickers

In [15]:
tickers = yf.Tickers('msft aapl goog')

In [17]:
### Access the ticker
tickers.tickers['GOOG'].history(period='1y')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-05-15 00:00:00-04:00,116.489998,118.794998,116.480003,116.959999,22107900,0.0,0.0
2023-05-16 00:00:00-04:00,116.830002,121.199997,116.830002,120.089996,32370100,0.0,0.0
2023-05-17 00:00:00-04:00,120.180000,122.279999,119.459999,121.480003,26659600,0.0,0.0
2023-05-18 00:00:00-04:00,121.559998,123.900002,121.489998,123.519997,27014500,0.0,0.0
2023-05-19 00:00:00-04:00,124.199997,126.478996,122.720001,123.250000,30251300,0.0,0.0
...,...,...,...,...,...,...,...
2024-05-08 00:00:00-04:00,170.750000,171.908997,170.522003,171.160004,14569900,0.0,0.0
2024-05-09 00:00:00-04:00,171.149994,172.440002,169.929993,171.580002,11937700,0.0,0.0
2024-05-10 00:00:00-04:00,169.690002,171.339996,167.910004,170.289993,18740500,0.0,0.0
2024-05-13 00:00:00-04:00,165.847000,170.949997,165.759995,170.899994,19648600,0.0,0.0
2024-05-14 00:00:00-04:00,171.589996,172.779999,170.419998,171.929993,18696900,0.0,0.0

## A method to use yfinance while making sure the returned data is in the same format as pandas_datareader

In [18]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30")

[*********************100%%**********************]  1 of 1 completed

In [19]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,225.039993,225.830002,223.880005,225.240005,199.200607,91366500
2017-01-04,225.619995,226.750000,225.610001,226.580002,200.385727,78744400
2017-01-05,226.270004,226.580002,225.479996,226.399994,200.226501,78379000
2017-01-06,226.529999,227.750000,225.899994,227.210007,200.942871,71559900
2017-01-09,226.910004,227.070007,226.419998,226.460007,200.279587,46939700
...,...,...,...,...,...,...
2017-04-24,237.179993,237.410004,234.559998,237.169998,210.663895,119209900
2017-04-25,237.910004,238.949997,237.809998,238.550003,211.889725,76698300
2017-04-26,238.509995,239.529999,238.350006,238.399994,211.756454,84702500
2017-04-27,238.770004,238.949997,237.979996,238.600006,211.934082,57410300
2017-04-28,238.899994,238.929993,237.929993,238.080002,211.472229,63532800